framework: netstandard2.0,netcoreapp2.1

group Build
  source https://www.nuget.org/api/v2
  source https://ci.appveyor.com/nuget/fsharp-formatting
  redirects: on
  nuget SourceLink.Fake
  nuget FAKE prerelease
  nuget FSharp.Formatting ~> 3.0.0-beta12
  nuget Suave
  nuget FSharp.Compiler.Tools ~> 10.0.2
  nuget FSharp.Compiler.Service ~> 22.0.3
  nuget Newtonsoft.Json
  nuget FSharp.Core
  nuget ILRepack
  nuget Mono.Cecil

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://www.nuget.org/api/v2
  redirects: on
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget FsUnit
  nuget FSharp.Data